<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rockstar Webpiler</title>

    <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap.min.css") }}"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B">

    <!-- Include JavaScript dependencies -->
    {% if debug %}
        <script type="text/javascript" src="{{ url_for("static_js", jspath="rockstar-jsdeps.js") }}"></script>
    {% endif %}
    <!-- Include Scala.js compiled code -->
    {% if debug %}
        <script type="text/javascript" src="{{ url_for("static_js", jspath="rockstar-fastopt.js") }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ url_for("static_js", jspath="rockstar.js") }}"></script>
    {% endif %}
</head>
<body onload="init()">

<!-- Short Link Model -->
<div class="modal" id="shortLinkModel" tabindex="-1" role="dialog" aria-labelledby="shortLinkModelTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shortLinkModelTitle">Sharing Link:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row m-1">
                        <label for="shortLinkValue" class="col-2 col-form-label">Link:</label>

                        <div class="col-10">
                            <input type="text" readonly class="form-control" id="shortLinkValue" value="Loading..."/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-3 mb-3 text-center">
        <div class="col-12">
            <h2>Rockstar Webpiler (WIP)</h2>
        </div>
    </div>
    <div class="row">
        <!--Input-->
        <div class="col-6">
            <ul class="nav">
                <li class="nav-item">
                    <div class="nav-link pl-1">Rockstar:</div>
                </li>
            </ul>

            <div class="form-group">
                <textarea class="form-control text-monospace" wrap="off" rows="12" id="input">{{ input }}</textarea>
            </div>
            <div class="row">
                <div class="col-6">
                    Compile Time: <span id="time-to-compile">Null</span>
                </div>
                <div class="col-6 text-right" id="position">
                    0:0
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <!-- Trigger Shortlink Modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#shortLinkModel">
                        Get Sharing Link
                    </button>
                </div>
            </div>
        </div>

        <!--Output-->
        <div class="col-6">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">AST</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Decoded RS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Idiomatic RS</a>
                </li>
            </ul>

            <div class="border-bottom border-left border-right rounded">
                <div id="output"
                     style="font-family: monospace; overflow-y: auto; overflow-x: auto; max-height: calc((100vh - (16px + 46px + 16px) - 41px * 2) - 4px);"
                     class="p-2"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>